*{
    margin: 0;
    padding: 0;
}

h1{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    display: inline-block;
    position:relative;
}
h2{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    position:relative;
    display: inline-block;

}
h3{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    /* display: inline-block; */
    position: absolute;
    /* top: 50px; */
    margin-top:50px ;
}
h4{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    display: inline-block;
    position: relative;

}